*, *:after, *:before {
  margin: 0;
  box-sizing: border-box;
}

html, body {
  position: fixed;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

button {
  border: none;
  background: none;
}

header {
  position: fixed;
  right: 0;
  text-align: right;
}

header button {
  font-size: 10px;
  padding: 2px 3px;
  margin-right: 6px;
  border: 1px solid black;
  border-radius: 10px;
}

header p {
  font-size: 10px;
  padding: 6px 6px 0 0;
}

.calendar {
  width: 100%;
  max-width: 375px;
  height: 530px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calendar .calendar-header {
  text-align: center;
  font-family: "AvenirNext-Heavy", serif, -apple-system;
}

.calendar .calendar-header .calendar-nav .calendar-button {
  vertical-align: super;
  font-size: 25px;
  font-weight: 600;
  padding: 10px;
  position: absolute;
}

.calendar .calendar-header .calendar-nav .calendar-button.button-prev {
  left: 50px;
}

.calendar .calendar-header .calendar-nav .calendar-button.button-next {
  right: 50px;
}

.calendar .calendar-header .calendar-label {
  width: 200px;
  margin: 0 auto;
}

.calendar .calendar-header .calendar-label .calendar-label-month {
  padding: 0 10px;
  font-size: 46px;
  height: 37px;
  line-height: 100%;
  font-weight: 900;
  color: red;
}

.calendar .calendar-header .calendar-label .calendar-label-year {
  font-size: 18px;
  font-weight: 600;
}

.calendar .calendar-body {
  min-height: 445px;
}

.calendar .calendar-body .calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar .calendar-body .calendar-table .calendar-day {
  width: calc(100% / 7);
  padding-bottom: calc(100% / 25);
  position: relative;
  border: 1px outset black;
}

.calendar .calendar-body .calendar-table .calendar-week-day {
  padding: 0;
  height: 30px;
}

.calendar .calendar-body .calendar-table .calendar-week-day .en {
  font-family: "AvenirNext-Bold", -apple-system, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.calendar .calendar-body .calendar-table .calendar-week-day .ch {
  font-family: "PingFangTC-Semibold", -apple-system, sans-serif;
  font-size: 22px;
  font-weight: 900;
  position: relative;
  top: 7px;
}

.calendar .calendar-body .calendar-table .calendar-week-day:first-child {
  color: red;
}

.calendar .calendar-body .calendar-table .calendar-week-day:last-child {
  color: blue;
}

.calendar .calendar-body .calendar-table .calendar-day.blank {
  border: none;
}

.calendar .calendar-body .calendar-table .calendar-day button {
  font-family: "AvenirNext-Bold", serif, -apple-system;
  border-bottom: 1px solid black;
  padding: 2px;
  height: 44px;
  width: 100%;
  line-height: 100%;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.calendar .calendar-body .calendar-table .calendar-day.saturday button {
  color: blue;
}

.calendar .calendar-body .calendar-table .calendar-day.holiday button {
  color: red;
}

.calendar .calendar-body .calendar-table .calendar-day.today button {
  color: forestgreen;
}

.calendar .calendar-footer {
  font-family: -apple-system, sans-serif;
  text-align: center;
  padding: 5px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.calendar .calendar-footer img {
  width: 120px;
  position: relative;
  top: 5px;
}

.calendar .calendar-footer p.address {
  font-size: 9px;
  margin: 0 auto;
}

.calendar .calendar-footer p.copy-rights {
  font-size: 6px;
  width: 80px;
  text-align: center;
  margin: 0 auto;
}